/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */
.custom-btn-profile {
    display: inline-block !important;
}

.fc-event-success {
    background-color: #51bf87 !important;
    border-color: #51bf87 !important;
}
.custom-file-upload {
    border: 1px soli;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.ql-container {
     height: 300px !important;
}

#pagination-table {
    display: flex;
    justify-content: flex-end;
}

#pagination-table .form-group {
    margin-bottom: 0px;
    margin-right: 2px;
}

#pagination-table .form-group select {
    height: 34px;
}

#pagination-table .pagination {
    padding-left: 0;
    margin: unset;
}